$info-text-color: grey;
$color-black: black;
$pry-text-color: black;
$sec-text-color: grey;
$color-white-shade: ghostwhite;
$color-success: green;
$color-alert: rgb(126, 15, 15);

// ====== Grid Variables =================
$grid-width: 114rem;
$gutter-vertical: 1rem;
$gutter-vertical-small: 1rem;
$gutter-horizontal: 6rem;